<?xml version="1.0"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="com.vmware.test.functional.saas" level="INFO"/>

    <!-- Test Containers -->
    <logger name="org.testcontainers" level="INFO"/>

    <!-- Spring -->
    <logger name="org.springframework" level="WARN"/>

    <!-- Apache -->
    <logger name="org.apache.http" level="WARN" />

    <!-- Amazon -->
    <logger name="com.amazonaws" level="WARN"/>

</configuration>
