<?xml version="1.0"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="alltests">
    <test name="alltests">
        <groups>
            <run>
                <exclude name="explicitOrderTestClass" />
            </run>
        </groups>
        <packages>
            <package name="com.vmware.test.functional.saas.local.*"/>
        </packages>
    </test>
</suite>
