<configuration>
    <appender name="Lambda" class="com.vmware.test.functional.saas.aws.logback.LambdaAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%X{functionalTestRequestId}] %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="${ROOT_LOG_LEVEL:-INFO}">
        <appender-ref ref="Lambda"/>
    </root>

    <logger name="com.aw.dpa" level="${LOG_LEVEL:-INFO}"/>

    <!-- Spring -->
    <logger name="org.springframework" level="WARN"/>
    <!-- Amazon -->
    <logger name="com.amazonaws" level="WARN"/>

    <!-- Prevent warn logs from appearing when no SENTRY_DSN is configured. -->
    <logger name="io.sentry" level="ERROR"/>

    <!-- INTEL-20547: Don't log errors when we have connectivity issues with Sentry. -->
    <logger name="io.sentry.connection.AsyncConnection" level="FATAL"/>
</configuration>